---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
$post-nav-height: 50px;

$mobile:          600px;
$on-laptop:        800px;

@each $font-face in midnight, sunrise, two_am {
  @font-face {
    $font-path-file-name: /assets/fonts/blackout/webfonts/blackout_#{$font-face}-webfont;
    font-family: 'blackout ' + $font-face;
    src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
    src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
        //  url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
         url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
         url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
  }
}

@each $font-face in light, rounded, regular, black, bold, dashed, inline-italic, inline-regular, {
  @font-face {
    $font-path-file-name: /assets/fonts/ostrich-sans/webfonts/ostrich-sans-#{$font-face};
    font-family: 'ostrich-sans ' + $font-face;
    src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
    src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        //  url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
        //  url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
         url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
         url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
  }
}

@font-face {
  $font-path-file-name: /assets/fonts/chunk/webfonts/Chunkfive-webfont;
  font-family: 'chunk';
  src: url($font-path-file-name+'.eot'); /* IE9 Compat Modes */
  src: url($font-path-file-name+'.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      //  url($font-path-file-name+'.woff2') format('woff2'), /* Super Modern Browsers */
      //  url($font-path-file-name+'.woff') format('woff'), /* Pretty Modern Browsers */
       url($font-path-file-name+'.ttf')  format('truetype'), /* Safari, Android, iOS */
       url($font-path-file-name+'.svg#font_name') format('svg'); /* Legacy iOS */
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin theme($themecolor){
    .post-header{
      // background: linear-gradient(to right bottom, lighten($themecolor, 10%) 50%, $themecolor 50%);
    }
    .post-title{ color: $themecolor;}
    blockquote, blockquote.post-quote {
        border-left: 4px solid $themecolor;
    }
    &.post-summary {
      a.post-link, span {
        color: $themecolor;
      }
      &:hover{
        background-color: $themecolor;
      }
    }
    p a {
      color: $themecolor;
      font-weight: bolder;
      &:active , &:hover {
        color: darken($themecolor, 10%);
      }
    }
}

img{
  width: 30px;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "styles.scss",
        "post-themes"
;

footer {
  min-height: 10%;
  background-color: black;
  font-color: white;
}
.foot {
  background-color: black;
}
