---
layout: default
icon: /images/logo/ladymafia_notext.png
comments: false
custom_js:
- homepageTextResize.js
---

<div class="home">
  <div class="five columns">
    <h3 class=temp-site-heading>We are live!!</h3>
    <p class="temp-site-intro">and so excited to bring you stories, interviews, and profiles that re-define what we know about history and help write our contemporary narrative. We hope this entertains you, makes you think, challenges you, and above all inspires you. Enjoy!</p>
    <br>
    <div class="read-more-box">
       <h3> About Lady Mafia </h3>
       <p class="site-intro">
         Violence and drug connotations aside, when you think of the word mafia you might associate it with a sense of mystique, an ubiquitous but unseen force, an invisible network of individuals, a powerful whole that is greater than the sum of its parts. A formal definition is hard to come by, as elusive as a mafia itself. Generally defined, a mafia is a closed group of people in a particular field, having a controlling influence.
       </p>
       <br>
       <p class="site-intro">
         In the age of information, we think it’s important to document the contributions of people who we are deeming members of the LADY MAFIA: women and men who are making the world better, who are doing courageous things in the name of human flourishing, who embody the spirit of the invisible force of femininity that has upheld the humanity even in the darkest days of history.
         The invisible, potent, and often non-accredited impact of the people we will write about has a mafia-like quality that we want to celebrate.
       </p>

      <p class="read-more-overlay"></p>
    </div>
    <div class="read-more-btn"><a href="/about">Read More About Lady Mafia</a></div>
  </div>

  <div class="seven columns">
    <h3>The Latest New Mafia</h3>
    <p>People who see the world as it should be</p>
    <div class="blog-index post-list-alt">
      {% for post in site.categories.contemporary limit:1 %}
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        {% include post_detail.html %}
      {% endfor %}
    </div>
    <h3> The Latest O.G. </h3>
    <p>The movers and shakers you didn't learn about in history class</p>
    <div class="blog-index post-list-alt">
      {% for post in site.categories.historical limit:1 %}
        {% assign post = site.posts.first %}
        {% assign content = post.content %}
        {% include post_detail.html %}
      {% endfor %}
    </div>
  </div>
</div>
