<h3>Hot Singles in History:</h3>
<div class="dating-card">
  {% assign dating-card = page.dating-card %}
  <!-- <h4> {{page.title}}'s dating profile </h4> -->
  <img src="{{page.profileimage}}" class="dating-img">

  <li class="dating-name">{{ dating-card.nameage }} </li> <li class="dating-location"><img src="/images/site-icons/location.svg" class="location">{{ dating-card.location }} </li><br>

  <li class="dating-birthday"> <img src="/images/site-icons/birthday.svg" class="origin"> {{ dating-card.birthday }} </li><br>
  <li class="dating-origin"> <img src="/images/site-icons/house.svg" class="origin"> {{ dating-card.origin }} </li><br>
  <li class="dating-bio">{{ dating-card.bio }} </li>
  <hr>
  <ul>
    <li class="dating-employer"> <img src="/images/site-icons/work.svg" class="card-icon"> {{ dating-card.employer }} </li><br>
    <li class="dating-edu"><img src="/images/site-icons/school.svg" class="card-icon">{{ dating-card.education }} </li><br>
    <li class="dating-interest"><img src="/images/site-icons/heart.svg" class="card-icon"><strong>Interested in:</strong> {{ dating-card.interested }} </li><br>
    <li class="dating-date"> <img src="/images/site-icons/date.svg" class="card-icon"><strong>Ideal first date:</strong> {{ dating-card.firstdate }} </li><br>
  </ul>
</div>
<hr class="card-end">
