<nav class="row site-nav">
  <div class="trigger">
    {% for my_page in site.pages %}
    {% if my_page.title %}
      {% assign current = nil %}
      {% if page.url == my_page.url %}
        {% assign current = 'current' %}
      {% endif %}
    <a class="page-link {{ current }}" href="{{ my_page.url | prepend: site.baseurl }}">
      {{ my_page.title }}
      <a class="nav-tagline {{ current }}" href="{{ my_page.url | prepend: site.baseurl }}">
        {{ my_page.tagline }}
      </a>
    <span>/</span>



    {% endif %}
    {% endfor %}

    <!-- <a id="about-link" class="page-link" href="/all-posts.html" alt="ladymafia">Posts</a> -->
  </div>
</nav>
