<span>
  {% assign title = page.title | number_of_words %}
  {% assign titleLength =  page.teaser | number_of_words | plus: title %}

  {% if page.type == 'interview' %}
    {% assign total_questions = page.content | split: "LM:" | size | times: 2 | minus: 1 %}
    {% assign ignore_length = total_questions | plus: titleLength | plus: 3 %}
  {% elsif page.type == 'historical' %}
    {% assign ignore_length = titleLength | plus: 1 %}
  {% else %}
    {% assign ignore_length = titleLength %}
  {% endif %}

    {% if page.dating-profile %}
      {% capture words %}
        {% assign words = 0 %}
        {% for item in page.dating-card %}
          {% assign itemlength = item[1] | number_of_words %}
          {% assign words = words | plus: itemlength %}
        {% endfor %}
        {{ words | minus: ignore_length }}
      {% endcapture %}
    {% else %}
    {% capture words %}
      {{ page.content | number_of_words | minus: ignore_length }}
    {% endcapture %}
  {% endif %}


  {% unless words contains "-" %}
    {% assign read-time = words | divided_by: 180 %}
    {% if read-time > 7 %}
      {{ read-time | append: " minute read (worth it)" }}
    {% elsif read-time >= 4 %}
      {{ read-time | append: " minute read, we believe in you" }}
    {% elsif read-time > 2 %}
      {{ read-time | append: " minute read, basically buzzfeed" }}
    {% else %}
      {{ read-time | append: " minute read" }}
    {% endif %}
  {% endunless %}
</span>
