  {% assign title = page.title | number_of_words %}
  {% if page.teaser %}
    {% assign titleLength =  page.teaser | number_of_words | plus: title %}
  {% endif %}
  
  {% if page.type == 'interview' %}
    {% assign total_questions = page.content | split: "LM:" | size | times: 2 | minus: 1 %}
    {% assign ignore_length = total_questions | plus: titleLength | plus: 3 %}
  {% elsif page.type == 'historical' %}
    {% assign ignore_length = titleLength | plus: 1 %}
  {% else %}
    {% assign ignore_length = titleLength %}
  {% endif %}
  

  {% capture words %}
    {% if page.quote %}
      {% assign quote_length = page.quote | number_of_words %}
      {{ page.content | number_of_words | minus: ignore_length | minus: quote_length }}
    {% else %}
      {{ page.content | number_of_words | minus: ignore_length }}
    {% endif %}
  {% endcapture %}

  {% unless words contains "-" %}
    {% assign read-time = words | divided_by: 250 %}
    {% if read-time <=0 %}
      {% assign read-time = 1 %}
    {% endif %}
    {% if read-time > 7 %}
      {{ read-time | append: " minute read (worth it)" }}
    {% elsif read-time >= 4 %}
      {{ read-time | append: " minute read, you got this" }}
    {% elsif read-time > 0 %}
      {{ read-time | append: " minute read, basically buzzfeed" }}
    {% elsif read-time = 0 %}
      {{ "1 minute read on a slow day" }}
    {% else %}
      {{ read-time | append: " minute read" }}
    {% endif %}
  {% endunless %}
