<div class="share-this">
  <a class="share-btn"><i class="fa fa-paper-plane-o"></i></a>
  <hr>
  <p class="share-action"> share </p>
  <ul>
    <a href=#><i class="fa fa-envelope"></i></a>
    <a href=#><i class="fa fa-comment"></i></a>
    <a href="https://www.facebook.com/dialog/share
    ?app_id=946372735391329&display=popup
    &href={{ site.url }}{{ page.url }}
    &redirect_uri={{ site.url }}{{ page.url }}"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/share?
    text={{ page.title }}
    &url={{ page.shorturl }}
    &via=theeladymafia"><i class="fa fa-twitter"></i></a>
    <a href=#><i class="fa fa-reddit"></i></a>
    <a href="https://plus.google.com/share?
    url=http://tomhohenstein.com{{ page.url }}
    &hl=en-US"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-google-plus"></i></a>
    <!-- <a href="http://www.linkedin.com/shareArticle
    ?mini=true
    &url={{ site.url }}{{ page.url }}
    &title={{ page.title }}
    &source={{ site.title }}"><i class="fa fa-linkedin"></i></a> -->
    <a href=#><i class="fa fa-twitter"></i></a>
  </ul>

</div>
