<!-- <header class="site-header header-small">
  <div class="row header-wrapper">
    <div class="five columns header-title">
      <h1>LADY</h1>
    </div>
    <div class="two columns">
      <a id="home-image" class="u-max-full-width" href="/" alt="ladymafia"></a>
    </div>
    <div class="five columns header-title">
      <h1>MAFIA</h1>
    </div>
</div>
</header> -->


<header class="site-header header-small">
  <div class="row header-wrapper">
    <div class="twelve columns header-title">
      <!-- <a href="/"><h1>{{ site.title }}</h1></a> -->
      <h1>{{ site.title }}</h1>
    </div>
  </div>
</header>
