
.home {
  h3 {
    margin-bottom: 0;
  }
  h3 + p {
    margin-bottom: 0px;
  }
  .blog-index + h3 {
    margin-top: 30px;
  }
  p.temp-site-intro {
    color: red;
    font-family: 'blackout two_am';
    font-size: 20px;
  }
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &:visited {
        color: $grey-color-dark;
    }
}

.content {
  clear: both;
  h3 {
    font-family: courier;
  }
  &.row {
    width: 80%;
    @include media($mobile){
      width: 100%;
    }
  }
}

.site-nav {
    float: left;
    line-height: 56px;
    display: block;
    font-family: 'blackout midnight';
    font-size: 20px;
    padding-bottom: 30px;
    a {
      color: $text-color;
      line-height: $base-line-height;
      font-family: 'blackout two_am';
      text-decoration: none;
      font-size: 20px;
      @include media($mobile) {
        font-size: 16px;
      }
      @include no-mobile {
        &:hover, &:active, &:focus {
          font-family: 'blackout midnight';
          text-decoration: none;
          color: black;
        }
      }
      &.current{
        display: none;
      }

    }
    span {
      font-family: Helvetica;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
      @include media($mobile) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
    .nav-tagline.current{
      display: inline-block;
    }
    .nav-tagline{
      display: none;
      font-family: 'blackout midnight';
    }
    @include media($mobile) {
      a.current {
        display: inline-block;
        font-family: 'blackout midnight';

      }
      .nav-tagline.current{
        display: none;
      }
    }
}



/**
 * Site footer
 */
.site-footer {
    margin-top: 100px;
    height: $footer-height;
    width: 100%;
    position:absolute;
    bottom:0;
    background: $background-color;
    .wrapper {
      background: $background-color;
      width: 80%;
      position: relative;
      padding: 0;
      margin: 0 auto;
      max-width: 960px;
      z-index: 10;

    }
  @include media($mobile) {
    display: none;
  }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media($laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media($mobile) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.container {
    // padding: $spacing-unit 0;
    position: relative;
    margin: 0 auto;
    background: #fdfdfd;
    width: 700px;
    z-index: 10;
}

.page-heading {
    font-size: 20px;
}

.mobile-intro {
  @include no-mobile {
    display: none;
  }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        text-align: center;
        .post-icon{
          border-radius: 0;
          margin: 0 auto 10px;
          width: 150px;
          height: 150px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
 .post-content, .post-header {
   width: 80%;
   padding: 0;
   margin: 0 auto;
   @include media($laptop) {
     width: 100%;
   }
 }

.post-header {
  margin-top: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 40px;
}

.post-icon {
  width: 250px;
  max-width: 40%;
  display: inline;
  object-fit: cover;
  float: left;
  // padding-right: 30px;
  @include media($mobile) {
    display: none;
  }
}
div.post-title {
  display: inline-block;
  // margin-left: 30px;
  max-width: 60%;
  @include media($mobile) {
    max-width: 100%;
    margin: 0;
  }
  h1 {
    font-size: 42px;
    @include media($laptop) {
        font-size: 36px;
    };
  }
  h3 {
    font-size: 32px;
    @include media($laptop) {
        font-size: 28px;
    };
  }
  h2 {
    font-size: 36px;
    @include media($laptop) {
        font-size: 32px;
    };
  }
}
.post-title {
    text-align: left;
    letter-spacing: -1px;
    line-height: 1;
    color: #fdfdfd;
    font-family: 'Blackout two_am';
}

.post-body{
  margin-bottom: 50px;
  padding: 0px $spacing-unit;
  position: relative;
  @include  media($mobile) {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
  }
}

.post-footer {
  padding-top: 40px;
  h3 { margin-bottom: 0;}
  hr {
    width: 50px;
    display: block;
    margin-top: 0;
    margin-bottom: 10px;
    height: 0;
    right: 0;
    border-top: 4px solid black;
  }
}
.post-comments {
  .fb-comments, .fb-comments-count, .fb_comments_count_zero {
    display: none;
  }
  hr {
    
  }
}
.post-content {
    padding-top: $spacing-unit;
    clear: both;
    h2 {
        font-size: 32px;

        @include media($laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media($laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media($laptop) {
            font-size: 18px;
        }
    }
    iframe {
      width: 100%;
    }
    .post-quote {
      font-family: courier;
      color: black;
      @include media($mobile) {
        font-size: 14px;
      }

    }
}
