/**
 * Site header
 */


.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.content {
  clear: both;
  h3 {
    font-family: courier;
  }
}

.site-nav {
    float: left;
    line-height: 56px;
    display: block;
    font-family: 'blackout midnight';
    font-size: 20px;
    padding-bottom: 50px;
    a {
      color: $text-color;
      line-height: $base-line-height;
      font-family: 'blackout two_am';
      text-decoration: none;
      font-size: 20px;
      &:hover, &:active {
        font-family: 'blackout midnight';
        text-decoration: none;
        color: black;
      }
      &.current{
        display: none;
      }
    }
    span {
      font-family: Helvetica;
      font-size: 20px;
      line-height: 24px;
      font-weight: bold;
      padding-left: 10px;
      padding-right: 10px;
    }
    .nav-tagline.current{
      display: inline-block;
      // @include media-query($on-palm) {
      //   display: none;
      // }
    }
    .nav-tagline{
      display: none;
      font-family: 'blackout midnight';
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.container {
    // padding: $spacing-unit 0;
    position: relative;
    margin: 0 auto;
    background: #fdfdfd;
    width: 700px;
    z-index: 10;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        text-align: center;
        .post-icon{
          border-radius: 0;
          margin: 0 auto 10px;
          width: 150px;
          height: 150px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.post-header.container {
    margin-top: 80px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    padding-top: 40px;
    &.scroll {
      background-color: $background-color;
      z-index: 98;
      position: fixed;
      top: $post-nav-height + 20px;
      .post-title {
        padding: 20px;
      }
      .post-icon {
        display: none;
      }
    }
}

.post-icon {
  height: 200px;
  width: 200px;
  margin: 20px auto 0px auto;
  border-radius: 200px;
  object-fit: cover;
}
.post-title {
    font-size: 42px;
    text-align: left;
    padding-left: 320px;
    letter-spacing: -1px;
    line-height: 1;
    color: #fdfdfd;
    font-family: 'Blackout two_am';

    @include media-query($on-laptop) {
        font-size: 36px;
    };
}

.post-body{
  margin-bottom: 50px;
  padding: 0px $spacing-unit;
  position: relative;
  @include  media-query($on-palm) {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
  }
}

.post-content {
    padding-top: $spacing-unit;
    .container {
      background-color: transparent;
    }
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
    .post-quote {
      font-family: courier;
      color: black;
      
    }
}
