/**
 * Site header
 */


.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.content {
  clear: both;
  h3 {
    font-family: 'ostrich-sans inline-regular';
  }
}

.site-nav {
    float: left;
    line-height: 56px;
    display: block;
    // font-family: 'blackout midnight';
    font-size: 20px;
    padding-bottom: 50px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
        font-family: 'blackout two_am';
        font-size: 20px;
        // &:not(:last-child) {
        //     margin-right: 10px;
        // }
        // &:not(:first-child) {
        //     margin-left: 10px;
        // }
        &:hover {
          font-family: 'blackout midnight';
          text-decoration: none;
        }

        span {
          font-family: Helvetica;
          padding-left: 15px;
          padding-right: 10px;
        }
      }
    .page-link:hover + .nav-tagline{
      display: inline-block;
      @include media-query($on-palm) {
        display: none;
      }
    }
    .nav-tagline{
      display: none;
      float: right;
      font-family: 'Raleway';
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.container {
    // padding: $spacing-unit 0;
    position: relative;
    margin: 0 auto;
    background: #fdfdfd;
    width: 700px;
    z-index: 10;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        text-align: center;
        .post-icon{
          border-radius: 0;
          margin: 0 auto 10px;
          width: 150px;
          height: 150px;
        }
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */

.scroll-test{

  .post-header {
    .post-icon {
      float: left;
      margin: 40px auto 60px 100px;
    }
    .post-title {
      float: left;
      text-align: left;
      padding-left: 30px;
    }
  }
  .post-body{
    float: right;
  }

}
.post-header {
    margin-top: 80px;
    text-align: center;
}

.post-icon {
  height: 200px;
  width: 200px;
  margin: 0 auto 60px auto;
  border-radius: 200px;
  border: 1px solid black;
  object-fit: cover;
}
.post-title {
    font-size: 42px;
    text-align: center;
    letter-spacing: -1px;
    line-height: 1;
    color: #fdfdfd;
    font-family: 'Blackout two_am';

    @include media-query($on-laptop) {
        font-size: 36px;
    };
}
.post-quote {
  padding: 0 150px;
}
.post-body{
  margin-bottom: 50px;
  padding: 0px $spacing-unit;
  position: relative;
  @include  media-query($on-palm) {
    margin: 0 0 30px;
    width: 100%;
  }
}

.post-content {
    padding-top: $spacing-unit;
    // -webkit-box-shadow: inset 0px 10px 12px 0px rgba(0,0,0,0.21);
    // -moz-box-shadow: inset 0px 10px 12px 0px rgba(0,0,0,0.21);
    // box-shadow: inset 0px 10px 12px 0px rgba(0,0,0,0.21);
    .container {
      background-color: transparent;
    }
    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
