.placeholder{
    background-color: black;
    .page-content .wrapper {
      img {
        margin: 0 auto;
      }

      h2.placeholder-text {
        padding-top: 20px;
        text-align: center;
      }
  }
}
