//theme(content color, title color, link color)
.sarahBump {
  @include theme(lightblue);
}
///

// =====  A  =====

.adaLovelace {
  @include theme(darkslateblue);
}

.aleahChapin {
  @include theme(#84a2d8);
  i.em.em-nude-body {
    background-image: url(/images/post-icons/custom-emojis/nude-body.png);
    height: 1.2em;
    width: 1.2em;
  }
  .question {
    color: #84a2d8;
  }
}
// =====  B  =====
// =====  C  =====
// =====  D  =====
// =====  E  =====
// =====  F  =====
// =====  G  =====

.gertrudeBell {
  @include theme(navy);
}

// =====  H  =====
.hedyLamarr {
  @include theme(#76eec6);
}

// =====  I  =====
// =====  J  =====

// =====  K  =====

.kiranGandhi {
  @include theme(goldenrod);
}

.Holmes {
  @include theme(red);
}

.rupiKaur {
  @include theme(lightpink);
}

// =====  L  =====

.LadyMafia{
  @include theme(black);
  .post-icon {
    width: 200px;
    margin-left: 40px;
  }
}
