.main-header {
  border-bottom: 1px solid lightgrey;
  margin-bottom: $spacing-unit;
}
.header-title{
  display: none;
}
#home-image {
  background-image: url(/images/ladymafia.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 160px;
  width: 200px;
  margin: 20px auto;
}

.post-wrapper {
  background-color: $background-color;
}

.post-header {
  background-color: $background-color;
}
