.site-header, .main-header {
    // border-bottom: 1px solid lightgrey;
    margin-bottom: $spacing-unit;
    padding-top: 100px;
    // padding-bottom: 100px;
    .header-title{
      font-family: 'blackout midnight', arial-bold, sans-serif;
      padding-top: 10%;
      h1 {
        font-size: 150px;
        color: black;
        margin-bottom: 0;
      }

    }
  #home-image {
    background-image: url(/images/ladymafia_notext.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 200px;
    width: auto;
    margin-top: 35px;
    margin-left: 25px;
  }

}


.header-small{
  padding: 0px;
  margin-bottom: 0;
  #home-image {
    background-image: url(/images/ladymafia_fav_circle.png);
    height: 100px;
    margin-left: 10px;
    margin-top: 50px;
  }
  .header-title h1{
    font-size: 75px;
    font-family: 'blackout sunrise', arial-bold, sans-serif;
  }
}

.post-wrapper {
  background-color: $background-color;
}

.post-header {
  background-color: $background-color;
}
