.main-header {
  // border-bottom: 1px solid lightgrey;
  margin-bottom: $spacing-unit;
  padding-top: 100px;
  padding-bottom: 100px;

}
.header-title{
  font-family: 'Blackout Midnight', arial-bold, sans-serif;
  font-style: bold;
  padding-top: 10%;
  h1 {
    font-size: 100px;
    color: black;
  }

}
#home-image {
  background-image: url(/images/ladymafia_notext.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 200px;
  width: auto;
  margin: 20px auto;
}

.post-wrapper {
  background-color: $background-color;
}

.post-header {
  background-color: $background-color;
}
