<script src="/javascripts/fb-comments.js"></script>

{% if page.comments %}
    <div class="post-comments">
      <hr/>
      <h3>Comments</h3>
      <div class="first-comment">
        <button> people want to hear from you </button>
      </div>
      <div class="fb-comments" data-href= "{{ site.url }}{{ page.url }}" data-num-posts="4" data-width="706" data-colorscheme="dark" data-mobile="true"></div>

      <!-- never display -->
      <span class="fb-comments-count" data-href="{{ site.url }}{{ page.url }}"></span>
    </div>
  {% endif %}
