<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="default">
    <div class="site-wrapper">
      <div class="container">
      {% include main-header.html %}
      {% include nav.html %}
      <div class="content">
        <div class="share-this share-default">
          {% include share-this.html %}
        </div>
          {{ content }}
      </div>
    </div>
    {% include footer.html %}
  </div>
  </body>

  {% if page.custom_js %}
    {% for js_file in page.custom_js %}
    <script src='/javascripts/{{ js_file }}' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

</html>
