<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="post-wrapper {{ page.theme }}">
      <div class='post-nav'>
        <a id="nav-image" href="/" alt="ladymafia"></a>
        {% include nav.html %}
      </div>
      <div class="container">
        <header class="post-header row">
          {% if page.thumb %}
          <img src="{{ page.thumb }}" alt="{{ page.title }}" class="post-icon {{ page.theme }}" />
          {% endif %}

          {% if page.type == 'interview' %}
          <h1 class="post-title u-full-width">
            {{ page.title | prepend: 'A Conversation with '}}
          </h1>
          {% elsif page.type == 'profile' %}
          <h1 class="post-title u-full-width">
            {{ page.title | prepend: 'Notable Mafia Member: '}}
          </h1>
          {% endif %}

        </header>
        <div class="post-body row">
            {{ content }}
        </div>

      </div>

  </body>

</html>
