---
layout: post-view
---
<!-- <div class="post"> -->
    {% if page.reading_time %}
    <p class="row post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}
    <article class="post-content">
      {% if page.quote %}
      <p class="post-quote u-full-width"><span>"</span>{{ page.quote }}</p>
      {% endif %}
        <div class="container">
        {{ content }}
        <div class="sign-off">
          <span>Until next time,</span><br>
          <span>{{ page.author }}</span><br>
          {{ page.date | date: "%-d %B %Y" }}
        </div>
      </div>
    </article>

    <!-- <footer class="post-meta">
        {% if page.date %}
        <div class="meta">
            <h3 class="meta-title">Date</h3>
            <span class="meta-content">{{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
        {% endif %}
        {% if page.author %}
        <div class="meta">
            <h3 class="meta-title">Author</h3>
            <span class="meta-content">{{ page.author }}</span>
        </div>
        {% endif %}
        {% if page.show_categories %}
        <div class="meta">
            <h3 class="meta-title">Categories</h3>
            <span class="meta-content">
                {% for category in page.categories %}
                    {{ category | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {% if page.show_tags %}
        <div class="meta">
            <h3 class="meta-title">Tags</h3>
            <span class="meta-content">
                {% for tag in page.tags %}
                    {{ tag | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </footer> -->

<!-- </div> -->
