---
layout: post-view
comments: true
---
    {% if page.reading_time %}
    <p class="row post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}
    <article class="post-content">
        {% if page.quote %}
        <blockquote class="post-quote u-full-width"><span>"</span>{{ page.quote }}</blockquote>
        {% endif %}

        {% if page.datingprofile %}
          {% include dating-card.html %}
        {% endif %}

        {{ content }}

        {% include signoff.html %}

        {% if page.credit %}
        <div class="photo-credit">Photocred: {{ page.credit }}</div>
        {% endif %}

        {% include /add-ons/comments-markup.html %}
        {% include post-footer.html %}
    </article>
