<!DOCTYPE html>
<html>

  {% include head.html %}
  <body class="post-wrapper {{ page.theme }}">

    {% include /add-ons/comments-script.html %}

    <div class="site-wrapper">
      <div class='post-nav'>
        <a id="nav-image" href="/" alt="ladymafia"></a>
        {% include nav.html %}
      </div>
      <div class="container">
        <header class="post-header">
          {% if page.thumb %}
          <img src="/images/post-icons/{{ page.thumb }}" alt="{{ page.title }}" class="post-icon {{ page.theme }}" />
          {% endif %}
            <div class="post-title">
            {% if page.type == 'interview' %}
            <h3 class="post-title">A Conversation with </h3>
              <h1 class="post-title">
              {{ page.title}}
              </h1>
              {% elsif page.type == 'profile' %}
              <h1 class="post-title u-full-width">
                {{ page.title | prepend: 'O.G. '}}
              </h1>
            {% endif %}
            <h2 class="post-title">{{ page.teaser }}</h2>
          </div>

        </header>
        <div class="post-body row">
            {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>

  </body>

</html>
