---
layout: post-view
comments: true
---
    {% if page.reading_time %}
    <p class="row post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}
    <article class="post-content">
        {% if page.quote %}
        <blockquote class="post-quote u-full-width"><span>"</span>{{ page.quote }}</blockquote>
        {% endif %}

        {{ content }}

        {% include signoff.html %}
        {% include /add-ons/comments-markup.html %}
        {% include post-footer.html %}
    </article>


<!-- {% if page.custom_js %}
  {% for js_file in page.custom_js %}
  <script src='/javascripts/{{ js_file }}' type="text/javascript"></script>
  {% endfor %}
{% endif %} -->
