---
layout: post-view
comments: true
---

    <article class="post-content">


        {% if page.quote %}
        <blockquote class="post-quote u-full-width"><span>"</span>{{ page.quote }}</blockquote>
        {% endif %}

        {% include dating-card.html %}

        {{ content }}

        {% include signoff.html %}

        {% if page.credit %}
        <div class="photo-credit">Photocred: {{ page.credit }}</div>
        {% endif %}

        {% include /add-ons/comments-markup.html %}
        {% include post-footer.html %}
    </article>
